.roboto {
    font-family: 'Roboto', sans-serif;
}

.mobile {
    display: none;
}

#desktop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "side headr headr headr"
    "side content content content"
    "side content content content";
}
.side { grid-area: side; }
.headr { grid-area: headr; }
.content { grid-area: content; }

.btn {
    border-radius: 60px;
}

.background {
    height: auto;
}

.bg {

}

.bg {
    background-image: url("../IMG/island.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: auto;
    border-bottom-left-radius: 60%;
}

.bg {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 80%);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "card1 card2"
      "card3 card4";
  }
  .card1 { grid-area: card1; }
  .card2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . .";
    grid-area: card2;
  }
  .card3 { grid-area: card3; }
  .card4 { grid-area: card4; }

.card1 {
    background-image: url("../IMG/p/s1-f.jpg");
}

.card2 {
    background-image: url("../IMG/p1/s3-small-f.jpg");
}

.card1,
.card2,
.card3,
.card4 {

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: auto;
}

.card-button {

}

.blue-bg {
    background: rgb(73,198,228);
    background: linear-gradient(309deg, rgba(73,198,228,1) 8%, rgba(138,226,244,0) 100%);
}

.gray-bg {
    background: #4F5461;
    border-radius: 6px;
}


.form-bg {
    background: rgb(75,204,233);
    background: linear-gradient(146deg, rgba(75,204,233,1) 0%, rgba(64,82,240,0.15870098039215685) 100%);
}

.line {
    height: 1px;
    width: 80%;
    background-color: black;
    margin: auto;
}

.gray-card {
    background-color: #F5F8FD !important;
    margin: 20px;
}

.cont{
    transition-duration: 0.9s;
}

.icon-text {
    font-size: xxx-large;
}

.mini-icon-text {
    font-size: xx-large;
}

.micro-icon-text {
    font-size: x-large;
}

.nano-icon-text {
    font-size: large;
}

.img-big {
    height: auto;
    width: auto;
}

.img-petit {
    height: 100px;
}

.img-medium {
    height: 200px;
}

@media (max-width: 768px) {

    .bg {
    background-image: url("../IMG/island.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 0;
    }

    
    .bg {
        clip-path: none;
    }

    #desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }

    #tablet {
        display: none;
    }

    .icon-text {
        font-size: xx-large;
    }
    
    .mini-icon-text {
        font-size: x-large;
    }
    
    .micro-icon-text {
        font-size: large;
    }

    .img-big {
        height: auto;
        width: auto;
    }

    .img-petit {
        height: 100px;
    }

    .img-medium {
        height: 200px;
    }
}