$neon1: #2aeff6;

#workCont {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  #workTitle {
    text-align: center;
    h2 {
      color: $neon1;
      font-size: 40px;
      @media (min-width: 992px) {
        font-size: 60px;
      }
    }
  }
  #workList {
    padding: 20px;
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media (min-width: 992px) {
      max-width: 800px;
      margin: auto;
    }
    @media (min-width: 1440px) {
      max-width: 1000px;
    }
    @media (min-width: 1800px) {
      max-width: 1500px;
      width: 100%;
    }
    a.workCard {
      display: flex;
      flex-direction: column;
      background: #191b1f;
      border-radius: 20px;
      text-decoration: none;
      margin: 10px 0;
      @media (min-width: 768px) {
        width: 47%;
        margin: 10px;
      }
      .cardImg {
        display: flex;
        margin: 20px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        @media (min-width: 768px) {
          height: 220px;
        }
        @media (min-width: 1440px) {
          height: 300px;
          margin: 20px 30px;
        }
        @media (min-width: 1800px) {
          height: 500px;
          margin: 30px;
        }
        img {
          width: 100%;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
          max-width: 100%;
          object-fit: cover;
        }
      }
      .cardTxt {
        background: #25272a;
        margin: 10px;
        border-radius: 20px;
        padding: 20px;
        color: #fff;
        @media (min-width: 1440px) {
          padding: 40px 20px;
          margin: 20px;
        }
        .cardTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            margin: 0;
            @media (min-width: 1440px) {
              font-size: 30px;
            }
            @media (min-width: 1800px) {
              font-size: 50px;
            }
          }
          svg {
            transition: all 0.3s ease-in-out;
            @media (min-width: 1440px) {
              width: 40px;
              height: 40px;
            }
            @media (min-width: 1800px) {
              width: 60px;
              height: 60px;
            }
          }
        }
        .cardWording {
          p {
            font-size: 20px;
            @media (min-width: 1440px) {
              font-size: 23px;
            }
            @media (min-width: 1800px) {
              font-size: 34px;
            }
          }
        }
        .cardFooter {
          display: flex;
          justify-content: start;
          align-items: center;
          p {
            @media (min-width: 1440px) {
              font-size: 20px;
            }
            @media (min-width: 1800px) {
              font-size: 30px;
            }
          }
          svg {
            margin: 0 10px;
            @media (min-width: 1440px) {
              width: 30px;
              height: 30px;
              margin: 0 20px;
            }
            @media (min-width: 1800px) {
              width: 50px;
              height: 50px;
              margin: 0 30px;
            }
          }
        }
      }
      &:hover {
        .cardImg {
          img {
            transform: scale(1.05);
          }
        }
        .cardTxt {
          .cardTitle {
            svg {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
