$neon1: #2aeff6;

#workCont {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  #workTitle {
    text-align: center;
    h2 {
      color: $neon1;
      font-size: 40px;
    }
  }
  #workList {
    padding: 20px;
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    a.workCard {
      display: flex;
      flex-direction: column;
      background: #191b1f;
      border-radius: 20px;
      text-decoration: none;
      margin: 10px 0;
      @media (min-width: 768px) {
        width: 47%;
        margin: 10px;
      }
      .cardImg {
        display: flex;
        margin: 20px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        @media (min-width: 768px) {
          height: 220px;
        }
        img {
          width: 100%;
          border-radius: 10px;
          transition: all 0.3s ease-in-out;
          max-width: 100%;
          object-fit: cover;
        }
      }
      .cardTxt {
        background: #25272a;
        margin: 10px;
        border-radius: 20px;
        padding: 20px;
        color: #fff;
        .cardTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2 {
            margin: 0;
          }
          svg {
            transition: all 0.3s ease-in-out;
          }
        }
        .cardWording {
          p {
            font-size: 20px;
          }
        }
        .cardFooter {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
      &:hover {
        .cardImg {
          img {
            transform: scale(1.05);
          }
        }
        .cardTxt {
          .cardTitle {
            svg {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
